page-host-guest {
  ion-row {
    justify-content: center;
  }

  .logo {
    height:0;
    width:80vw;
    padding-top: 20vh;
    max-width: 400px;
  }

  .homebuttons {
    padding-top: 40vh;
  }
}
