page-howto {
  .howto {
    border: 1px solid #000000;
    display: block;
    height:350px;
    width:200px;
  }

  ion-slide {
    background-color: map_get($colors, background);
    display: block !important;
  }

  .howtoslide {
    background-color: map_get($colors, background);
  }

  .howtobutton {
    width: 50vw;
  }

  .blank {
    height: 5vh !important;
  }

  .swiper-slide {
    overflow-y: scroll;
    display: block;
  }
}
